@charset "utf-8";
h1{
  background-color: yellow;
}
.shadow{
  background-color: black;

}
h2{
  background-color: pink;
  position: relative;
  top: -5px;
  left: -5px;
}
h3{
  background-color:skyblue;
  height: 200px;
  width: 300px;
  position: relative;
}
.abs{
  background-color: brown;
  position: absolute;
  bottom: 0;
  right: 0;
}
.order2{
  background-color: hotpink;
  z-index: 100;
}
.order1{
  z-index: 2;
}
h4{
  background-color: lime;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0;
}
h5{
  background-color:orange;
}
h6{
  background-color: silver;
}