@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,900');
html{
  font-size: 15px;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}
h1{
  font-size: 2rem;
  letter-spacing: 0.5em;
  background-color: skyblue;
  text-align: center;
}
.shadow{
  text-shadow: 1px 1px 5px yellow, 2px 2px 5px orange, 3px 3px 0px red;
}
em{
  font-style: normal;
}
abbr{
  text-decoration: none;
}
p{
  line-height: 1.5;
  text-indent: 2em;
}